/*******************************************************************************************
/* Content area
/*******************************************************************************************/

#main .woocommerce {		
	table.shop_table {
		border: 0;
	}
	
	.input-text {
		@extend %form-control;
	}
	
	.input-text.qty {
		width: 3.631em;
	}
	
	textarea.input-text {
		height: auto;
	}
	
	#respond input#submit, a.button, button.button, input.button {
		font-weight: normal;
		@extend %btn-primary;
	}
		
	div.product {
		form.cart .variations select {
			min-width: inherit;
		}

		.woocommerce-product-gallery {
			display: grid;
			grid-template-columns: auto 100px;
			grid-column-gap: 15px;
			width: auto !important;
			float: none !important;
		}
		
		div.images .flex-control-thumbs {
			display: grid;
			grid-template-rows: repeat(6, 1fr);
			grid-row-gap: 10px;
			
			li {
				width: auto;
				float: none;
			}
		}
		
		div.summary {
			float: none;
			width: auto;
		}
		
		.wc-pao-addon {
			margin-top: 30px;
		}

		.wc-pao-addon-urkunde .wc-pao-addon-wrap {
			display: grid !important;
			grid-template-columns: repeat(14, 1fr);
			grid-gap: 8px;
			
			&:before { content: none !important; }
			
			.wc-pao-addon-image-swatch {
				outline: 1px solid transparent;
				padding: 0;
				margin: 0;
				text-align: center;
				
				&:first-child {
					background: $white;
				}
				
				img {
					max-width: 100%;
					max-height: inherit;
				}
				
				&.selected {
					outline-color: $primary;
					outline-width: 3px;
					outline-style: dashed;
				}
			}
		}
		
		.wc-pao-addon-widmung {
			float: left;
			width: 50%;
			padding-right: 10px;
		}
		
		.wc-pao-addon-empfaengeradresse {
			float: right;
			width: 50%;
			padding-left: 10px;
		}
		
		label.wc-pao-addon-name {
			font-weight: bold;
		}
		
		#product-addons-total {
			float: left;
			width: 100%;
			
			ul {
				padding-left: 0;
			}
		}
	}
	
	ul.products li.product {
		margin-bottom: 1.5em;
		
		@extend %shadow-box;
		
		a img {
			margin-bottom: 0;
		}
		
		.woocommerce-loop-product__title {
			position: absolute;
			bottom: 0;
			background: rgba($white, .5);
			width: 100%;
			text-align: center;
			margin-top: 20px !important;
			padding: 1em 15px;
			font-size: 1.1em;
			font-weight: normal;
			color: $gray-800;
			text-shadow: 0 0 10px #fff;
		}
	}
	
	.woocommerce-variation-add-to-cart {
		float: right;
	}
}

#tiptip_content .amount {
	display: none;
}

.woocommerce-MyAccount-navigation ul {
	list-style: none;
	padding: 0;
}

/*******************************************************************************************
/* Cart & Checkout
/*******************************************************************************************/

.woocommerce-checkout {
	#customer_details {
		padding-bottom: 30px;
	}
}

.woocommerce-checkout-payment {
	label {
		display: inline;
	}
}

.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
	line-height: inherit;
}

.woocommerce-billing-fields .form-row,
.woocommerce-shipping-fields .form-row,
.woocommerce form .form-row {
	display: block;
}

.woocommerce-additional-fields {
	margin-top: 40px;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
	flex: none;
	max-width: unset;
}

.navigation {
	clear: both;

	.nav-links {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 50px;
		
		.nav-next {
			justify-self: end;
		}
	}

	.nav-previous a::before,
	.nav-next a::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-family: 'Font Awesome 5 Pro';
		font-weight: 900;
  }

	.nav-previous a::before { content: "\f177"; margin-right: 5px; }
  .nav-next a::after { content: "\f178"; margin-left: 5px; }
}
	
.pswp .pswp__caption {
	display: none !important;
}

button[name="update_cart"] {
	display: none !important;
}